body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header, footer {
  padding: 10%;
  color: rgb(255, 253, 253);
  height: auto;
  background-image: url(https://wallpapercave.com/wp/wp2745301.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

#section1 {
text-align: center;
}